<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin}">
<head>
    <meta charset="UTF-8">
    <title>View Article</title>
</head>
<body>
<div layout:fragment="mainContent">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Article Details</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="card card-white">
                <div class="card-header">
                    <h2 th:text="${article.title}" class="text-primary"></h2>
                </div>
                <div class="card-body">
                    <p th:text="${article.description}"></p>
                </div>
                <div class="card-footer">
                    <span th:text="'Author : '+${article.author}"></span>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>

