<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin}">
<head>
    <meta charset="UTF-8">
    <title>Update Article</title>
</head>
<body>
<div layout:fragment="mainContent">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Article Management Page</h3>
        </div>

        <form th:action="@{/admin/article/update/{id}/(id=${article.id})}" method="post" th:object="${article}">
            <div class="card-body">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Input Title" th:field="*{title}">
                    <span th:if="${#fields.hasErrors('title')}"
                          th:text="${#fields.errors('title').get(0)}"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" placeholder="Input Description" th:field="*{description}">
                    <span th:if="${#fields.hasErrors('description')}"
                          th:text="${#fields.errors('description').get(0)}"
                          class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" placeholder="Input Author" th:field="*{author}">
                    <span th:if="${#fields.hasErrors('author')}"
                          th:text="${#fields.errors('author').get(0)}"
                          class="text-danger"></span>
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>