<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin}">
<head>
    <meta charset="UTF-8">
    <title>Article Reviewing Page</title>
</head>
<body>
    <div layout:fragment="mainContent">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Article Reviewing Page</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                         <table class="table table-hover text-center">
                            <thead>
                            <tr>
                                <th style="width: 5%">#</th>
                                <th style="width: 20%">TITLE</th>
                                <th style="width: 30%">DESCRIPTION</th>
                                <th style="width: 15%">AUTHOR</th>
                                <th style="width: 30%">ACTIONS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="article,state: ${articles} ">
                                <td th:text="${state.count}"></td>
                                <td th:text="${article.title}"></td>
                                <td th:text="${article.description}"></td>
                                <td th:text="${article.author}"></td>
                                <td>
                                    <a class="btn btn-primary" th:href="@{/admin/article/view/{id}/(id=${article.id})}">
                                        <i class="far fa-eye"></i>
                                    </a>
                                    <a class="btn btn-success" th:href="@{/admin/article/update/{id}/(id=${article.id})}">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger" th:href="@{/admin/article/{id}/(id=${article.id})}">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>

